*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/mountains_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.containernav {
  position: relative;
  width: 100%;
  height: 90px;
}

.containernavmobile {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: black;
  display: none;
  z-index: 200;
}

.active {
  display: block;
}

.boxnav {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.gridnav {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.textleft {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  font-size: 5rem;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.boxright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.textright {
  margin-top: 1em;
  font-size: 3rem;
  grid-column: 3/-1;
  grid-row: 1/2;
  color: #fff;
  cursor: pointer;
  margin-left: 0.2em;
}

.centertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #fff;

}

.menubars {
  color: #fff;
  font-size: 5rem;
  position: absolute;
  top: 4%;
  right: 4%;
  display: none;
  cursor: pointer;
  z-index: 300;
}

.menubarstext {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menubarstextflex {
  display: flex;

}

.loginheader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  font-size: 4rem;
}

.barstext {
  font-size: 4rem;
  color: #fff;
  margin: 0.2em 0em;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  height: 50px;
  width: 150px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1em;

}

.loginbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 8px;
  z-index: 100;
  display: none;
}

.loginboxblock {
  display: block;
}


.loginboxnone {
  display: none;
}

.wrapperlogin {
  position: relative;
  width: 100%;
  height: 100%;
}

.imgwrapperlogin {
  position: absolute;
  background-image: url("../img/form.png");
  width: 40%;
  height: 80%;
  background-size: cover;
  background-position: center;
  bottom: 10%;
  right: 4%;
  border: none;
  z-index: -100;
}

.imgloginbg {
  position: absolute;
  background-image: url("../img/thank-you.jpg");
  background-size: cover;
  background-position: center;
  width: 700px;
  height: 300px;
  left: 2%;
  bottom: 20%;
  border-radius: 8px;

}
.iconloginback {
  position: absolute;
  top: 4%;
  right: 4%;
  font-size: 5rem;
  z-index: 300;
  cursor: pointer;
  
}



.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-12 11:40:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


.slide-in-tl {
  -webkit-animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-12 11:18:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-tl
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-tl {
  0% {
    -webkit-transform: translateY(-1000px) translateX(-1000px);
    transform: translateY(-1000px) translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}


.btncontainer {
  display: flex;
  flex-direction: column;
}

.inputregister {
  height: 40px;
  border-radius: 8px;
  margin-left: 0.4em;
}


@media (max-width: 1200px) {

  .boxnav,
  .gridnav {
    display: none;
  }

  .menubars {
    display: block;
  }

  .imgwrapperlogin {
    width: 90%;
  }
}


@media (min-width: 568px) and (max-width: 1200px) {

  .menubars {
    font-size: 7rem;
  }

  .centertext {
    font-size: 9rem;
  }

  .iconloginback {
    top: 0%;
  }

  .imgloginbg {
    display: none;
  }
}

@media (max-width: 568px) {
  .loginheader {
    font-size: 2rem;
  }

  .input {
    margin-top: 0.6em;
    margin-left: 1em;
  }

  .imgloginbg {
    display: none;
  }

  .inputregister {
    height: 40px;
    border-radius: 8px;
    margin-left: 0em;
    margin-bottom: 0.4em;
  }
  .iconloginback {
    position: absolute;
    top: -3%;
    right: 4%;
    font-size: 3rem;
  }
}